body {
  font-family: Arial;
  background: #f4f6f8;
  padding: 20px;
}

form {
  width: 300px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2c7be5;
  color: white;
  border: none;
}
