<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <title>Dashboard Page</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav container">
        <div class="nav__data">
          <div class="nav__logo"><h1 class="website">PisoPulse</h1></div>

          <div class="nav__toggle" id="nav-toggle">
            <span class="nav__burger"><ion-icon name="menu"></ion-icon></span>
            <span class="nav__close"><ion-icon name="close"></ion-icon></span>
          </div>
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li><a href="/dashboard" class="nav__link">Dashboard</a></li>

            <li>
              <a href="/user-expenses" class="nav__link">Users</a>
            </li>

            <li>
              <a href="/expenses" class="nav__link">Your Daily Expenses</a>
            </li>
            <li>
              <a href="/logout" class="nav__link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container2">
      <!-- <h1>Your Daily Expenses</h1> -->
      <main class="table" id="customers_table">
        <section class="table__header">
          <h2 id="current-date" data-date="{{ selected_date_raw }}">
            Dashboard
          </h2>
        </section>

        <section class="table__body">
          <table>
            <colgroup>
              <col style="width: 10%; min-width: 80px" />
              {% for user in users %}
              <col style="width: auto; min-width: 40px" />
              {% endfor %}
            </colgroup>
            <thead>
              <tr>
                <th>Date</th>
                {% for user in users %}
                <th>{{ user }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for date in dates %}
              <tr>
                <td>{{ date.pretty }}</td>

                {% for user in users %}
                <td>₱{{ "%.2f"|format(data[date.raw].get(user, 0)) }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </main>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </body>
</html>
