<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <title>Dashboard - PisoPulse</title>
  </head>
  <body>
    <div class="navbar">
      <div>
        <a href="/dashboard">Dashboard</a>
        <a href="/user-expenses">Users Daily Expenses</a>
        <a href="/expenses">Your Daily Expenses</a>
      </div>

      <div>
        <a href="/logout">Logout</a>
      </div>
    </div>
    <h1>Daily Expense Dashboard</h1>

    <table>
      <tr>
        <th>Date</th>
        {% for user in users %}
        <th>{{ user }}</th>
        {% endfor %}
      </tr>

      {% for date in dates %}
      <tr>
        <td>{{ date.pretty }}</td>

        {% for user in users %}
        <td>₱{{ "%.2f"|format(data[date.raw].get(user, 0)) }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
    <title>Dashboard Page</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav container">
        <div class="nav__data">
          <div class="nav__logo"><h1 class="website">PisoPulse</h1></div>

          <div class="nav__toggle" id="nav-toggle">
            <span class="nav__burger"><ion-icon name="menu"></ion-icon></span>
            <span class="nav__close"><ion-icon name="close"></ion-icon></span>
          </div>
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li><a href="/dashboard" class="nav__link">Dashboard</a></li>

            <li>
              <a href="/user-expenses" class="nav__link">Users</a>
            </li>

            <li>
              <a href="/expenses" class="nav__link">Your Daily Expenses</a>
            </li>
            <li>
              <a href="/logout" class="nav__link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="main">
      <h1>Daily Expense Dashboard</h1>
      <table>
        <tr>
          <th>Date</th>
          {% for user in users %}
          <th>{{ user }}</th>
          {% endfor %}
        </tr>

        {% for date in dates %}
        <tr>
          <td>{{ date.pretty }}</td>

          {% for user in users %}
          <td>₱{{ "%.2f"|format(data[date.raw].get(user, 0)) }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
  </body>
</html>
