<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Expense</title>
  </head>
  <body>
    <h2>Edit Expense</h2>

    <form method="POST">
      <label>Date:</label>
      <input
        type="date"
        name="date"
        value="{{ expense.date.strftime('%Y-%m-%d') }}"
        required
      />

      <label>Amount:</label>
      <input
        type="number"
        step="0.01"
        name="amount"
        value="{{ expense.amount }}"
        required
      />

      <label>Description:</label>
      <textarea name="description" required>{{ expense.description }}</textarea>

      <button type="submit">Update</button>
    </form>

    <a href="/expenses">Cancel</a>
  </body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/add_expense.css') }}"
    />
    <title>Add Expense</title>
  </head>
  <body>
    <div class="container">
      <form class="inside_container" method="POST">
        <div class="top_section">
          <h2>Edit Expense</h2>
          <!-- Date -->
          <div class="date-box">
            <span class="icon"
              ><ion-icon name="calendar-clear"></ion-icon
            ></span>
            <input
              name="date"
              type="date"
              value="{{ expense.date.strftime('%Y-%m-%d') }}"
              required
            />
            <label>Date:</label>
          </div>

          <!-- <label>Date:</label>
        <input type="date" name="date" value="{{ today }}" required /> -->
          <div class="container2">
            <div id="expenses-container">
              <div class="expense_item">
                <div class="item">
                  <label>Amount:</label>
                  <input
                    type="number"
                    name="amount"
                    value="{{ expense.amount }}"
                    required
                  />
                </div>

                <div class="item">
                  <label>Description:</label>
                  <textarea name="description" required>
{{ expense.description }}</textarea
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="outside_button">
          <button class="submit_button" type="submit">Update</button>
          <a class="cancel_button" href="/expenses">Cancel</a>
        </div>
      </form>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{{ url_for('static', filename='js/add_expense.js') }}"></script>
  </body>
</html>
