<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <title>Personal Expense</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav container">
        <div class="nav__data">
          <div class="nav__logo"><h1 class="website">PisoPulse</h1></div>

          <div class="nav__toggle" id="nav-toggle">
            <span class="nav__burger"><ion-icon name="menu"></ion-icon></span>
            <span class="nav__close"><ion-icon name="close"></ion-icon></span>
          </div>
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li><a href="/dashboard" class="nav__link">Dashboard</a></li>

            <li>
              <a href="/user-expenses" class="nav__link">Users</a>
            </li>

            <li>
              <a href="/expenses" class="nav__link">Your Daily Expenses</a>
            </li>
            <li>
              <a href="/logout" class="nav__link">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container2">
      <!-- <h1>Your Daily Expenses</h1> -->
      <main class="table" id="customers_table">
        <section class="table__header">
          <button onclick="changeDate(-1)">
            <ion-icon class="date_icon" name="arrow-back"></ion-icon>
          </button>
          <h2 id="current-date" data-date="{{ selected_date_raw }}">
            {{ selected_date_pretty }}
          </h2>
          <button onclick="changeDate(1)">
            <ion-icon class="date_icon" name="arrow-forward"></ion-icon>
          </button>
        </section>

        <div class="add_expense">
          <a href="/add_expense?date={{ selected_date_raw }}">
            <button class="add_expense_btn">Add Expense</button>
          </a>
        </div>

        <section class="table__body">
          <table>
            <colgroup>
              <col style="width: 30%" />
              <col style="width: 60%" />
              <col style="width: 10%" />
            </colgroup>
            <thead>
              <tr>
                <th>Amount <span class="icon-arrow">&UpArrow;</span></th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for expense in expenses %}
              <tr>
                <td
                  class="{% if expense.amount < 0 %}negative{% else %}positive{% endif %}"
                >
                  ₱{{ "%.2f"|format(expense.amount) }}
                </td>
                <td>{{ expense.description }}</td>
                <td class="action-buttons">
                  <a href="/edit/{{ expense.id }}" class="btn edit-btn"
                    ><ion-icon name="create"></ion-icon
                  ></a>
                  <a href="/delete/{{ expense.id }}" class="btn delete-btn"
                    ><ion-icon name="trash"></ion-icon
                  ></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </section>
      </main>
    </div>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
